
html {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

body {
  background: #fff;
  color: #484848;
}

h1,h2,h3,h4,h5,h6 { text-rendering: optimizeLegibility; }

h1 {
  font-size: 3.4em;
  font-weight: 200;
}

h3 {
  font-size: 19px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}


.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding-left: 24px;
  padding-right: 24px;
}


header.main-header {
  padding: 24px 24px 0 24px;
  text-align: right;
}



.main-logo {
  color: #FF5A5F;
  display: block;
  float: left;
  height: 4em;
  width: 4em;
  text-align: left;
}
  .main-logo a {
    display: inline-block;
    font-size: 40px;
    height: 100%;
  }


nav {
  display: inline;

}
  nav a {
    margin-left: 24px;
  }
  nav a.profile-link {

  }


.main-heading-text {

}

.brand-callout {
  color: #FF5A5F;
  font-weight: 900;
}


form.booking {
  display: flex;
  border: 1px solid #DCE0E0;
  border-radius: 4px;
  box-shadow: 0px 1px 4px -1px rgba(140,140,140,.41);
}
  form.booking > div {
    padding: 15px 16px 8px 16px;
  }
    form.booking label {
      display: block;
      font-size: 15px;
    }
    form.booking input {
      border: none;
      font-size: 19px;
      padding: 8px 0;
    }

  div.booking-where {
    flex: 2;
    order: 1;
    border-right: 1px solid #DCE0E0;
  }
    div.booking-where input {
      width: 100%;
    }

  div.booking-when {
    flex: 2;
    order: 2;
    border-right: 1px solid #DCE0E0;
  }
  div.booking-when input {
    order: 1;
    width: 40%;
  }
  div.booking-when .booking-arrow {
    display: inline-block;
    margin: 0 4px;
  }

  div.booking-guests {
    flex: 1;
    order: 3;
  }
    div.booking-guests input {

    }
    div.booking-guests input::after {
        content: '<i class="fa fa-angle-down" aria-hidden="true"></i>';
    }
    /* yay placeholder browser support */
    div.booking-guests input::placeholder {
      color: #484848 !important;
    }
    div.booking-guests input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #484848 !important;
    }
    div.booking-guests input::-moz-placeholder { /* Firefox 19+ */
      color: #484848 !important;
    }
    div.booking-guests input:-ms-input-placeholder { /* IE 10+ */
      color: #484848 !important;
    }
    div.booking-guests input:-moz-placeholder { /* Firefox 18- */
      color: #484848 !important;
    }

  div.booking-submit {
    flex: 1;
    order: 4;
    padding: 15px 16px 16px 16px !important;
  }
    div.booking-submit  button {
      background: #FF5A5F;
      border: none;
      border-radius: 4px;
      color: #fff;
      display: block;
      font-size: 19px;
      font-weight: 200;
      height: 100%;
      width: 100%;
    }


.simple-search {
  border: 1px solid #DCE0E0;
  border-radius: 4px;
  box-shadow: 0px 1px 4px -1px rgba(140,140,140,.41);
  margin: 40px 0;
  padding: 12px 14px 14px 14px;
}
  .simple-search p {
    vertical-align: middle;
    color: #767676;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .simple-search i {
    display: block;
    line-height: 40px;
    position: absolute;
    right: 0;top: 0px;
    font-size: 30px;
  }



.main-list {

}

.main-list-item {
  display: inline-block;
  margin-right: 1%;
  width: 23.9%;
}
.main-list-item:last-child {
  margin-right: 0;
}

footer {
  border-top: 1px solid #D5D9D9;
}



/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Media Querie Sections

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media only screen and (min-width: 65em) {

  .main-heading-text {
    width: 75%;
  }

}













/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Fixes & utils

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* css clearfix from https://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
  content: "";
  display: table;
  clear: both;
}
