
html {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.625rem; /* 10px equivalent thanks to default of 16px */
}

body {
  background: #fff;
  color: #484848;
  font-size: 1.4rem; /* 14px equivalent */
}

h1,h2,h3,h4,h5,h6 { text-rendering: optimizeLegibility; }

h1 {
  font-size: 3.4em;
  font-weight: 200;
}

h3 {
  font-size: 1.9rem;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: none;
  border-top: .1rem solid #DCE0E0;
  height: 0;
  line-height: 0;
  margin: 6rem 0  ;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  /* Q: not sure if should define max-width here in rems?
     or how is viewport scale affecting this? */
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}


.main-header {
  padding: 2.4rem 2.4rem 0 2.4rem;
  text-align: right;
}



.main-logo {
  color: #FF5A5F;
  display: block;
  float: left;
  height: 4em;
  width: 4em;
  text-align: left;
}
  .main-logo a {
    display: inline-block;
    font-size: 4rem;
    height: 100%;
  }


nav {
  display: inline;
  vertical-align: middle;
}
  nav a {
    display: inline-block;
    margin-left: 3.6rem;
    vertical-align: middle;
  }
  nav a.profile-link {
    border: .2rem solid #C4C4C4;
    border-radius: 50%;
    box-sizing: border-box;
    height: 3rem;
    overflow: hidden;
    width: 3rem;
  }
  nav a.profile-link img {
    display: block;
    width: 100%;
  }


.main-heading-text {
  line-height: 1.15;
}

.brand-callout {
  color: #FF5A5F;
  font-weight: 900;
}


label {
  display: block;
}
input, button, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: .1rem solid #dbdbdb;
  border-radius: .4rem;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 55%;
}
select::after { /*TODO: can't get this working???*/
  content: '&#xf107';
  display: block;
  font-family: FontAwesome;
  right: 0;
  position: absolute;
  top: 0;
}
input:focus, button:focus, select:focus {
  border: .1rem solid #008489;
  outline: none;
}



form.booking {
  display: flex;
  border: .1rem solid #DCE0E0;
  border-radius: .4rem;
  box-shadow: 0 .1rem .4rem -.1rem rgba(140,140,140,.41);
}
  .booking > div {
    padding: 1.5rem 1.6rem .8rem 1.6rem;
  }

  .booking input, .booking button, .booking select {
    border: none;
    border-bottom: .1rem solid transparent;
    border-radius: 0;
    display: inline-block;
    padding: .8rem 0;
  }
  .booking input:focus, .booking button:focus, .booking select:focus {
    border-bottom: .1rem solid #008489;
  }

  .booking-where {
    flex: 2;
    order: 1;
    border-right: .1rem solid #DCE0E0;
  }
    .booking-where input {
      width: 100%;
    }

  .booking-when {
    flex: 2;
    order: 2;
    border-right: .1rem solid #DCE0E0;
  }
  .booking-when input {
    order: 1;
    width: 40%;
  }
  .booking-when .booking-arrow {
    display: inline-block;
    margin: 0 .4rem;
  }

  .booking-guests {
    flex: 1;
    order: 3;
  }
    .booking-guests button {
      background: none;
      display: block;
      text-align: left;
      width: 100%;
      position: relative;
    }
    .booking-guests button i {
      display: inline-block;
      line-height: 4rem;
      height: 4rem;
      font-size: 2.3rem;
      vertical-align: middle;
      position: absolute;
      top: 0;
      right: 0;
    }
    .booking-guests button:focus {
      border-bottom: .1rem solid #008489;
    }

  div.booking-submit { /*extra specificity to overwrite above*/
    flex: 1;
    order: 4;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
    .booking-submit button {
      background: #ff5b60;
      border: .2rem solid #FF5A5F;
      border-radius: .4rem;
      box-sizing: border-box;
      color: #fff;
      display: block;
      font-weight: 200;
      height: 100%;
      width: 100%;
    }
    .booking-submit button:focus {
      background: #ec4f54;
      border: .2rem solid #9f1d21;
    }


.simple-search {
  border: .1rem solid #DCE0E0;
  border-radius: .4rem;
  box-shadow: 0 .1rem .4rem -.1rem rgba(140,140,140,.41);
  margin: 4rem 0;
  padding: 1.2rem 1.4rem 1.4rem 1.4rem;
}
  .simple-search p {
    vertical-align: middle;
    color: #767676;
    font-size: 2rem;
    line-height: 4rem;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .simple-search i {
    display: block;
    line-height: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 3rem;
  }


main {
  font-size: 1.6rem;
}

  main > section {
    margin: 8rem auto;
  }


.main-list {

}
  .main-list-items {
    display: flex;
  }
    .main-list-item {
      box-sizing: border-box;
      flex: 1;
      display: block;
      padding-right: 1.5rem;
    }
    .main-list-item:last-child {
      flex: 1;
      padding-right: 0;
    }

      .main-list-item .item-image {
        flex: 1;
        display: block;
        width: 100%;
      }
        .item-description {
          font-weight: 200;
          padding-top: 1rem;
        }
          .price, .name {
            font-weight: bold;
          }
          .reviews {
            font-size: 1.2rem;
            padding-top: .5rem;
          }
            .rating {
              color: #00A699;
            }







footer {
  border-top: .1rem solid #D5D9D9;
  padding: 5rem 0 5rem 0;
}
  footer h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0;
  }
  footer hr {
    margin: 2rem 0;
  }
  footer a {
    color: #767676;
  }
  footer a:hover {
    text-decoration: underline;
  }


  .footer-columns {
    display: flex;
    padding: 0 0 3rem 0;
  }
    .footer-columns > form, .footer-columns > div {
      flex: 1;
    }
    .footer-links {
      letter-spacing: .1rem;
    }
    .footer-columns ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }
    .footer-columns li {
      display: block;
      line-height: 1.5;
    }


  .footer-bottom {
    box-sizing: border-box;
    color: #848484;
    height: 3rem;
    vertical-align: middle;
  }
  .footer-bottom * { box-sizing: border-box; }
    .legal-info {
      float: left;
      height: 3rem;
      line-height: 3rem;
      margin: 0;
      vertical-align: middle;
    }
      .legal-info .logo {
        display: inline-block;
        font-size: 2rem;
        height: 3rem;
        line-height: 3rem;
        margin-right: 1rem;
        vertical-align: middle;
      }

    .extra-links {
      float: right;
      height: 3rem;
      list-style: none;
      margin: 0;
      padding: 0;
      vertical-align: middle;
    }
      .extra-links li {
        display: inline-block;
        height: 3rem;
        margin-left: 1.5rem;
        vertical-align: middle;
      }
      .extra-links li a {
        display: block;
        height: 3rem;
        line-height: 3rem;
        vertical-align: middle;
      }


/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Media Querie Sections

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media only screen and (min-width: 65em) {
  .main-heading-text {
    width: 75%;
  }
}



@media only screen and (min-width: 800px) {

  form.booking {
    display: flex;
  }

  div.simple-search {
    display: none;
  }
}











/*  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Fixes & utils

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* css clearfix from https://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
  content: "";
  display: table;
  clear: both;
}
