html {
  color: #888;
  font-family: sans-serif;
  font-size: 15px;
  padding: 0;
}

body {
  padding: 40px 0 0 0;
}

a {
  color: #444;
  font-weight: bold;
  text-decoration: none;
}

ul.octodex {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


li.octocat {
  display: inline-block;
  margin: 20px 20px 40px 20px;
  width: 30%;
  min-width: 300px;
  padding: 0;
}

.octocat > a:first-child {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
}

.octocat > a:first-child img {
  display: block;
  max-width: 100%;
}

.image-footer {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding: 20px 0;
  position: relative;
  text-align: right;
}
  .image-footer::before {
    content: '';
    width: 0px;
  	height: 0;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 10px solid #ccc;
    position: absolute;
    top: 0;
    right: 5px;
  }

.image-number {
  color: #ccc;
  font-weight: bold;
  display: block;
  float: left;
}
  .image-number::before {
    content: '#';
  }

.image-caption {

}



ul.authors {
  display: inline;
  list-style: none;
  margin: 0 0 0 1px;
  padding: 0;
}

ul.authors li {
  display: inline;
}

ul.authors li a {
  border-radius: 4px;
  display: block;
  float: right;
  margin-top: -8px;
  margin-left: 4px;
  overflow: hidden;
  width: 30px;
}

ul.authors li a img {
  display: block;
  width: 100%;
}

.image footer {

}








/*clearfix https://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
  content: "";
  display: table;
  clear: both;
}
