

main {
  max-width: 400px;
  margin: 60px auto;
  color: #32cb5d;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 300px solid transparent;
  border-left: 30px solid pink;
  border-right: 300px solid transparent;
  border-bottom: 30px solid pink;
}
